/* ========================================= */
/* ========= Todo Update ========= */

/* Removing the border of both the inputs */
.todo-inputs {
  border: none;
  border-radius: 10px;
  outline: none;
}

/* Disingning the Update form. */
.todo-update {
  width: 100%;
  height: 85vh;
  position: absolute;
  position: fixed;
  left: 5px;
  top: 80px;
  background-color: rgb(192, 27, 164);
  display: none;
}

/* .update {
  height: 100%;
} */
